<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body style="padding: 2rem;">
    <h1>Logged in successfully</h1>
    <div>
        <div>Name: <strong><%= response.displayname %></strong></div>
        <br>
        <div>Login: <strong><%= response.login %></strong></div>
        <br><br>
        <img style="border-radius: 0.25rem; width: 16rem;" src=<%= response.image.link %> alt="user_image">
    </div>
    <br><br>
    <a href="./"> BACK </a>
</body>
</html>